%% -*- mode: Erlang; -*-

{erl_opts, [
            {d, 'MCTRACE'},
            debug_info,
            warn_format,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash,
            debug_info
           ]}.

{lib_dirs, ["../../../"]}.

{deps, [
        {mctrace, ".*", {git, "https://github.com/metachord/mctrace.git", "master"}}
       ]}.
